{% extends 'base.html.twig' %}
	
	{% block body %}
	<h2 class='page-header'>Tasks to finish!</h2>
	<table class="table table-striped">
	    <thead>
	      <tr>
	      	<th>#</th>
	        <th>Task name</th>
	        <th>Due To</th>
	      </tr>
	    </thead>
	    <tbody>
	    {% for todo in todos %}
	      <tr>
	      	<td>{{todo.id}}</td>
	        <td>{{todo.name}}</td>
	        <td>{{todo.dueDate | date('F j, Y, g:i a')}}</td>
	        <td>
	        	<a href='/todo/details/{{todo.id}}' class='btn btn-success'>Details</a>
	        	<a href='/todo/edit/{{todo.id}}' class='btn btn-default'>Edit</a>
	        	<a href='/todo/delete/{{todo.id}}' class='btn btn-danger'>Delete</a>
			</td>
	      </tr>
	    {% endfor %}
	    </tbody>
  	</table>
</div>

	{% endblock %}
